@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666;
    background: #fff;
}
.alinhar{
    text-align: center;
    color: dodgerblue;
    font-family:Cambria;
    font-size: 48px;
}
li{
    text-transform: uppercase;     
    list-style-type: none;
    font-style: Bold;
    text-decoration: underline;
    
     
}

button {
    background-color:transparent; 
    border: none;
    color:transparent;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
   
    font-size: 16px;
    border-radius: 50%;
  }
p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #777;
    padding-top: 0px;
    padding-bottom: 0px;
}

#dinheiro{
    
    padding-right: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #666;
    width:  90px;
    text-align: right;
    align-items: right;
   
    
}

