@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666;
    background: #fff;
}
.alinhar{
    text-align: center;
    color: dodgerblue;
    font-family:Cambria;
    font-size: 48px;
}
li{
    text-transform: uppercase;     
    list-style-type: none;
     
}

button {
    background-color:transparent; /* Green */
    border: none;
    color:transparent;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
   
    font-size: 16px;
    border-radius: 50%;
  }
p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding-top: 0px;
    padding-bottom: 0px;
}



body{
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: right top;
   
    
}
.imageareaPerfil{
   width: 150px;
   height: 150px;
   border-radius: 50% ;
    margin-top: 10px;    
    margin-left: 50%;
    position: absolute;
}
